<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458469635186-kphkfl4ab2thr4tmnv8ft0ilakmghao6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458469635186-kphkfl4ab2thr4tmnv8ft0ilakmghao6</string>
	<key>API_KEY</key>
	<string>AIzaSyAVE-FNCo9c4sB_TUNhwjf4__OS_xozLyg</string>
	<key>GCM_SENDER_ID</key>
	<string>458469635186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martynarzewuckaczyz.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwaitr54</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwaitr54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458469635186:ios:b716287ff9039c20e6feeb</string>
</dict>
</plist>